#asignacionP {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
/* #asignacionP > div {
  border: 1px solid black;
} */
/* CSS RamosContainer */
#ramosContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.filtros{
  display: flex;
  justify-content: space-evenly;
}

.filter-nombre-codigo {
  width: 30%;
  height: 30px;
  font-size: 16px;
  padding: 0 25px;
  border-radius: 15px;
  margin-top: 15px;
  align-self: center;
}
.filter-semestre{
  width: 250px;
  height: 30px;
  font-size: 16px;
  padding: 0 25px;
  border-radius: 15px;
  margin-top: 15px;
  align-self: center;
}
.filter-semestre:hover{
  cursor: pointer;
}

.flex-ramos {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  min-height: 175px;
  gap: 10px;
  margin: 1rem;
  padding: 1rem;
}
.ramoAsi {
  border: 1px solid black;
  background-color: rgba(108, 117, 125, 0.2);
  width: 200px;
  font-size: 15px;
  flex-shrink: 0;
  border-radius: 10px;
}
.ramoAsi > .cab {
  padding-left: 0.8rem;
  text-align: left;
  font-weight: 600;
  border-bottom: 1px solid black;
  background-color: cornflowerblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ramoAsi > .cont {
  padding: 0 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  text-align: center;
}
.ramoAsi > .foot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ramoAsi button {
  padding: 1px 15px;
  margin: 5px 0;
  background-color: var(--btnRamoAsi);
  border: 1px solid #a0a0a0;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-user-select: none;
  user-select: none;
}
.ramoAsi button:hover {
  background-color: var(--cellHover);
  transform: scale(1.1, 1);
}
.asignP1{
  display: flex;
  justify-content: space-evenly;
}

#horarioDispo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.salaSel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.salaSel .sel {
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}
.salaSel label {
  display: block;
}
.salaSel select {
  width: 95%;
  text-align: center;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 10px;
}
.salaSel select::-ms-expand {
  display: none;
}

/* CSS Horario */
#horarioAsign table {
  padding: 0;
}
#horarioAsign td {
  border: 1px solid black;
  min-width: 150px;
  width: 150px;
  height: 100px;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  transition: background 0.1s ease;
}
#horarioAsign td:hover {
  cursor: pointer;
}
#horarioAsign td.horaBloque{
  background-color: rgb(246, 222, 163);
}
#horarioAsign td.horaBloque:hover{
  cursor: auto;
}
#horarioAsign .asignado {
  background-color: #dfdfdf;
}
#horarioAsign td.bloque-seleccionado{
  background-color: rgb(210, 135, 82);
}

/* Media query para pantallas con width mayor a 992px */
@media (min-width: 992px) {
  .ramoAsi {
    width: 180px;
  }
  #ramosContainer{
    width: 95%;
  }
  .asignP1{
    width: 95%;
  }
  #docenteComp{
    width: 300px;
  }
  #horarioDispo{
    width: 1000px;
  }
  /* #ramosContainer {
    width: 25%;
  }
  #horarioDispo {
    width: 70%;
  } */
}
/* @media (min-width: 1200px) {
  #asignacionP {
    width: 1200px;
  }
} */

/* DocenteComp */
#ramoElegido{
  background: #dfdfdf;
  height: 150px;
  display: grid;
  place-items: center;
  border-radius: 20px;
}
.docente-list{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 10px;
}
.docente-item{
  background-color: var(--docenteBg);
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid black;
}
.docente-item:hover{
  /* background-color: var(--docenteHover); */
  cursor: pointer;
}
.docente-selected{
  background-color: var(--docenteActive);
}