.mallaP {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.mallaP h1 {
  text-align: center;
}



/* Malla Component */
.horario {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 95%;
  overflow-x: scroll;
}
.horario table{
  border: 1px solid black;
  padding: 1px 50px;
}
.horario thead th{
  background-color: #9fc5f8;
  border: 1px solid black;
}
#mallaP .horario tbody tr {
  background-color: #f2f2f2;
}
#mallaP .horario tr:nth-child(even) {
  background-color: #d4d4d4;
}

.horario td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  width: 100px;
  max-width: 120px;
  font-size: 14px;
  padding: 8px;
}
.horario td.valido {
  border: 1px solid black;
}
.horario .valido:hover {
  background-color: var(--cellHover);
}
.horario td:not(.valido) {
  background-color: #fff;
}
